{% extends 'base.html' %}
{% load static %}
{% block info %}
<div class="row align-items-center flex-grow-1 pb-5">
    <div class="col-3"></div>
    <!-- Main box -->
    <div class="col-6 box p-4">
        <!-- Search -->
        <div class="row pb-3" style="height:60%;">
            <!-- Search box -->
            <div class="col-12 ">
                <div class="search_box py-3 px-4">
                    <form class="form" method="POST" action="">{% csrf_token %}
                        <div class="row">
                            <div class="col-10">
                                <input id="search_query" type="text" name="search" placeholder="Search by title, actor or genre" autocomplete="off">
                            </div>
                            <div class="col-2" style="display: block; text-align: right;">
                                <button id="enter" type="submit">Enter</button>
                            </div>
                        </div>
                    </form>
                        <hr class="px-0">
                        <div class="row">
                            <div class="col-12">
                                <div class="subtitle" style="color:#747474 !important;">Recent searches</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- Recommendations Title -->
        <div class="row ">
            <div class="col-10">
                <div class="subtitle">Recommended for you...</div>
            </div>
            <div class="col-2">
                <a class="link" href="#">See all</a>
            </div>
        </div>
        <!-- Recommended Movies -->
        <div class="row">
            {% for object in movies %}
            <p class="lead">{{object.title}}</p>
            {%endfor%}
        </div>
    </div>
    <div class="col-3">
        
    </div>
</div>

{% endblock %}