{% extends 'base.html' %}
{% load static %}
{% block searchbar %}
<!-- Search bar -->
<form class="form-inline mx-auto input-group">
    <input class="form-control mx-0 py-2" id="results_search" type="text" name="search" placeholder="Search by title, actor or genre" autocomplete="off">
    <div class="input-group-append">
        <button class="btn w-auto h-100" id="results_enter" type="submit">Enter</button>

    </div>
  </form>
{% endblock %}

{% block info %}
<!-- Page content -->
<div class="row pt-3">
    <!-- Search title -->
    <div class="col-9">
        <div id="title1" class="title">
            Top Movies
        </div>
    </div>
    <!-- Filters -->
    <div clas="col-3">
        
    </div>
</div>

<div class="row justify-content-center">
	{% for movies in top_movies %}
		<div class="col">
            <a href="{% url 'movie' movies.movie_id %}"><img src="{{movies.movie_id.image}}" class="mx-auto justify-content-center" style="width: 300px; height: 450px;"></a>
		{% if forloop.counter|divisibleby:5 %}
		</div></div><div class="row justify-content-center py-5"><div class="col"><hr/></div>
		{%else%}
		</div>
		{%endif%}			
	{% endfor %}
</div>
</div>
{% endblock %}