{% extends 'base.html' %}
{% load static %}
{% block searchbar %}
<!-- Search bar -->
<form class="form-inline mx-auto input-group">
    <input class="form-control mx-0 py-2" id="results_search" type="text" name="search" placeholder="Search by title, actor or genre in top movies" autocomplete="off" value="{% if query != None %}{{ query }}{%endif%}">
    <div class="input-group-append">
        <button class="btn w-auto h-100" id="results_enter" type="submit">Enter</button>

    </div>
  </form>
{% endblock %}

{% block info %}
<!-- Page content -->
<div class="row pt-3">
    <!-- Back button and Search title -->
    <div class="col-9 d-flex align-content-center">
        <a class="d-flex align-self-center" href="{% url 'index' %}" style="display: inline-block !important; height: inherit;">
            <img src="{% static 'images\back_button.svg' %}" style="height: inherit; height: 25px; width: auto;">
        </a>
        <p id="title1" class="title mb-0 px-3" style="display: inline-block;">Top Movies</p>
    </div>
    <!-- Filters -->
    <div clas="col-3">
        
    </div>
</div>

{% if query != None%}
<div class="row pt-3 ps-2">
    <!-- Search title -->
    <div class="col-12">
        <div id="title1" class="d-inline title">
            Search results for
        </div>
        <div id="title2" class="d-inline title">
            "{{ query }}"
        </div>
        <div id="title3" class="d-inline title">
          {{ top_movies|length }} {% if top_movies|length == 1%}movie{%else%} movies {%endif%} found
        </div>
    </div>
</div>
{%endif%}

<!-- Top movie results -->
<div class="pb-5">
    {% for movies in top_movies %}
        {% if forloop.counter0|divisibleby:6 %}
        <div class="row pt-3">
        {% endif %}
            <div class="col-2 px-3 movie_result">
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'movie' movies.0.movie_id %}" style="width: 100%;">
                            <img src="{{movies.0.movie_id.image}}" class="mx-auto justify-content-center" style="width: inherit; border-radius: 10px">
                        </a>
                    </div>
                </div>
                <div class="top_movie_card">
                    <div class="row pt-1">
                        <div class="col-12 text-center" style="color:white; font-weight: 500; font-size:14px;">
                            {{ movies.0.movie_id.title }}
                        </div>
                    </div>
                    <!-- <div class="row pb-1">
                        <div class="col-12 text-center" style="color:white; font-size: 13px;">
                            {{ movies.2 }} ‧ {{ movies.3 }} ‧ {{ movies.1 }}/10.0
                        </div>
                    </div> -->
                </div>
            </div>
        {% if forloop.counter|divisibleby:6 %}
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}