<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>

        {% load static %}

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        
    </head>
    <body class="bg-dark">
        <div style="background-image: url('../../../static/images/Background.jpg');" class="container-fluid text-center pt-3 min-vh-100 d-flex flex-column justify-content-center align-items-center login-background">
            <!-- Logo -->
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 d-flex justify-content-center">
                    <img class="img-responsive" src="{% static 'images\Logo.svg' %}"></a>
                </div>
            </div>
            <!-- Description -->
            <div class ="row">
                <div class="col-12">
                    <p class="text-center text-white">A movie search engine which makes recommendations based on the searches you make</p>
                </div>
            </div>
            <!-- Sign up/login text -->
            <div class = "row">
                <div class="col-12">
                    <p class="text-center text-white mb-0"><a class="link-primary" href="../register">Sign up</a> or log in below:</p>
                </div>
            </div>
            <!-- Login box -->
            <div id="box" class=" row p-4">
                <div class="col-12">
                    <form id="login-form" class="form" method="POST" action="{% url 'login' %}">{% csrf_token %}      
                        <!-- Email -->
                        <div class="validate-input form-floating py-0" data-validate="Email is required">
                            <input type="email" class="form-control form-style login_field login" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" placeholder="name@example.com" required>
                            <label for="floatingInput">Email</label>
                        </div>

                        <!-- Password -->
                        <div id="password_input" class="validate-input form-floating py-0" data-validate="Password is required">
                            <input type="password" class="form-control form-style login_field pass" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" placeholder="Password" required>
                            <label for="floatingPassword">Password</label>
                        </div>

                        <!-- Error messages -->
                        <div class="row">
                            <div class="col-12" style="color: red;">
                                {% if messages %}
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Login button -->
            <div class="row">
                <div class="col-12 d-flex align-top">
                    <br><button type="submit" class="btn btn-default login-button" form="login-form">Login</button> 
                </div>
            </div>
        </div>

        <!-- Javascript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>